* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------Navbar------------*/
.nav-link {
  color: black;
  font-weight: 600;
}

.navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: 800;
}

/* end of nav section*/

/*------------Carousel------------*/
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-80%);
  left: -8%;
}

.carousel-caption h1 {
  font-size: 70px;
  font-weight: 400;
  color: black;
}

.carousel-caption p {
  color: black;
  font-weight: 600;
}

/* end of carousel section*/

/*------------Shop Now Button------------*/
.btn0 {
  background-color: red;
  height: 45px;
  width: 150px;
  color: white;
  outline: none;
  border: none;
}

.btn0:hover {
  background-color: white;
  color: red;
  transition: 0.4s;
}
/* end of Shot Now Button section*/

/*------------Four Columns------------*/
.sub {
  background-color: rgb(70, 63, 63);
}

.sub input {
  height: 51px;
  width: 50%;
  color: black;
  outline: none;
  padding: 10px;
}

.btn1 {
  height: 50px;
  width: 50%;
  color: white;
  background-color: yellowgreen;
  outline: none;
  border: none;
  margin-left: -2px;
}

.btn1:hover {
  background-color: rgb(44, 40, 40);
  color: white;
  transition: 0.6s;
}

.fas {
  font-size: 32px;
}
/* end of Four Columns section*/

/*------------New Collection ------------*/
.collection span {
  color: yellowgreen;
  font-size: 19px;
  font-weight: 800;
  padding-left: 5px;
}

.card {
  border: none;
}

.collection input {
  position: absolute;
  height: 45px;
  width: 110px;
  background-color: yellowgreen;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  top: 25%;
  left: 30%;
  opacity: 0;
}

.collection .card:hover input {
  opacity: 1;
  transition: 1s;
}

.collection input:hover {
  background-color: rgb(82, 75, 75);
  transition: 0.5s;
}
/* end of new collection section*/
